<h1>Hello, world!</h1>
<%= simple_form_for @place do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.submit 'Create' %>
<% end %>
<br />
<b>The last place created was:</b><br />
<%= Place.last["name"] %><br />
<%= Place.last["address"] %><br />
<%= Place.last["description"] %>